{% extends "layout.html" %}

{% block body %} 
<section class="section">
  <div class="container">
    <figure class="image logo-img auto-m">
      <img src="https://s3.amazonaws.com/cdn.laborum.pe/mailer/beautyLib/gusano-cesar-png.png">
    </figure>
    <h1 class="is-size-1 has-text-centered" style="color:yellowgreen;">Leauty</h1>
    <h6 class="subtitle is-6 has-text-centered"><span class="beauty text" >Los mejores libros de la mejor biblioteca online: </span><span><a href="http://libgen.io" class="lib-page">LibGen</a></span></h6>
    <form class="beauty form" method="POST">
      <div class="field">
        <label class="label" for="opt-cate">Ordenar por:</label>
        <div class="control">
          <div class="select">
            <select name="opt-cat">
              <option value="defecto">Defecto</option>
              <option value="anno">Año</option>
              <option value="editorial">Editorial</option>
              <option value="paginas">Páginas</option>
            </select>
          </div>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input class="input" name="subject" placeholder="Busca la categoría" autocomplete="off">
        </div>
      </div>
      <div class="control has-text-centered">
        <button class="button my-btn" name="submitBtn" type="submit">Buscar</button>
      </div>
    </form>
  </div>
</section>
{% endblock %}